.layout {
  display: flex;
}

.sidebar {
  width: 180px;
  background: white;
  padding: 15px;
  border-right: 1px solid #ccc;
  height: 100vh;
}

.sidebar h3 {
  margin-top: 0;
  color: blue;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: black;
}

.sidebar button {
  margin-top: 30px;
  background: none;
  color: black;
  padding: 0;
}

.main {
  padding: 20px;
  flex: 1;
}
